<div class="container">
  <div class="row mt-5">

    <div class="preview-card">
      <div class="preview-card__wrp">
        <div class="preview-card__item">
          <div class="preview-card__img">
            <img src="https://pbs.twimg.com/profile_images/1543211157879660544/hOfHYtZR_400x400.jpg" alt="Godsgift Uko">
          </div>
          <div class="preview-card__content">
            <span class="preview-card__code">Hi, I am</span>
            <div class="preview-card__title">Uko, God'sgift Matthew</div>
            <div class="preview-card__text">
            	This is a demo PR built with Paystack SDK. In this PR I be utilizing Paystack SDK to run a bunch of payment actions.
            	<br>
            	<br>
            	<b>NB:</b> The card details used in this PR is a test card from <a href="https://paystack.com/docs/payments/test-payments/">Paystack cards</a>
             </div>
            <a href="/checkout" class="preview-card__button">CHECK IT OUT</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>